@font-face {
  font-family: "Noto-regular";
  src: url(./assets/fonts/static/NotoSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Noto-medium";
  src: url(./assets/fonts/static/NotoSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Noto-bold";
  src: url(./assets/fonts/static/NotoSans-Bold.ttf) format("truetype");
}

:root {
  --font-family-regular: "Noto-regular";
  --font-family-medium: "Noto-medium";
  --font-family-bold: "Noto-bold";

  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);

  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-0: hsl(200, 60%, 99%);
  --color-text: hsl(227, 75%, 14%);

  --color-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);

  --border-radius-xl: 12px;
  --border-radius-l: 8px;

  --transition: all 0.3s ease-in-out;
}

body.dark {
  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);

  --color-neutral-300: hsl(227, 75%, 14%);
  --color-neutral-200: hsl(226, 25%, 17%);
  --color-neutral-100: hsl(225, 23%, 24%);
  --color-neutral-0: #1f2535;
  --color-text: hsl(200, 60%, 99%);

  --color-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  padding-bottom: 80px;
  background: var(--color-gradient);
  color: var(--color-text);
  font-family: var(--font-family-regular);
}

a {
  color: var(--color-text);
}

.container {
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    margin-top: 20px;
  }
}

nav {
  background-color: var(--color-neutral-0);
  border-radius: var(--border-radius-xl);
  margin-top: 30px;
  padding: 10px 15px;
  box-shadow: 0 0 3px var(--color-neutral-300);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  background-color: var(--color-neutral-100);
  padding: 10px;
  border-radius: var(--border-radius-l);
  display: flex;
}

.filter-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 30px;
}

.filter-section h1 {
  font-family: var(--font-family-bold);
}

.filter-section .filters {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 20px;
  border-radius: 40px;
  font-size: 1.15rem;
  font-family: var(--font-family-medium);
  outline: none;
  background-color: var(--color-neutral-0);
  color: var(--color-text);
  border: 2px solid var(--color-neutral-100);
  transition: var(--transition);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-red-400);
}

.btn:focus {
  outline: 2px solid var(--color-red-400);
}

.filter-active {
  background-color: var(--color-red-400);
}

@media screen and (max-width: 768px) {
  .filter-section {
    margin-top: 40px;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 20px;
  }
}

.extensions-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.extension {
  width: 32.5%;
  padding: 10px 15px;
  background-color: var(--color-neutral-0);
  border-radius: var(--border-radius-xl);
  border: 2px solid var(--color-neutral-100);
  transition: var(--transition);
}

.extension:hover {
  border: 2px solid var(--color-text);
}

.extension-content {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.extension-content img {
  aspect-ratio: 1 / 1;
}

.extension-content .extension-text h4 {
  font-family: var(--font-family-bold);
  font-size: 1.15rem;
  line-height: 2rem;
}

.extension-content .extension-text p {
  max-width: 300px;
  opacity: 0.6;
}

.extension-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .extension {
    width: 100%;
  }
}

/* Copied from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-neutral-300);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: hsl(200, 60%, 99%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: var(--color-red-400);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.extensions-count {
  font-family: var(--font-family-bold);
}

.attribution {
  text-align: center;
  margin-top: 60px;
  font-family: var(--font-family-medium);
}
